<div id="blog-post">
    <h2>{{title}}</h2>
    <p>{{body}}</p>
    <div id="author-date">
        <span>Author: {{author}}</span>
        <span>Post Date: {{date}}</span>
    </div>
</div>


{{#each items}}
  <div>
    <button class="large-button">Button 1</button>
    <button class="large-button">Button 2</button>
  </div>
{{/each}}
<style>
  .large-button { font-size: 18px; padding: 20px; }
</style>