<div class="flex justify-center">
  <div class="w-1/2 p-6 rounded-lg shadow-lg bg-stone-200 mr-2">
    <form id="sign-up-form">
      <h2 class="text-lg font-medium text-stone-900 mb-4">Sign Up</h2>
      <div class="mb-4">
        <label class="block text-stone-700 font-medium mb-2" for="name">
          Name
        </label>
        <input
          class="w-full border border-stone-400 p-2 rounded-lg"
          type="text"
          id="name"
          name="name"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block text-stone-700 font-medium mb-2" for="email">
          Email
        </label>
        <input
          class="w-full border border-stone-400 p-2 rounded-lg"
          type="email"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block text-stone-700 font-medium mb-2" for="password">
          Password
        </label>
        <input
          class="w-full border border-stone-400 p-2 rounded-lg"
          type="password"
          id="password"
          name="password"
          required
        />
      </div>
      <div class="text-center">
        <button class="bg-stone-700 text-white p-2 rounded-lg hover:bg-stone-800">
          Sign Up
        </button>
      </div>


{{!-- ======================================================
LOGIN FORM BELOW 
====================================================== --}}

    </form>
  </div>
  <div class="w-1/2 p-6 rounded-lg shadow-lg bg-stone-200">
    <div>
      <h2 class="text-lg font-medium text-stone-900 mb-4">Log In</h2>
      <div class="mb-4">
        <label class="block text-stone-700 font-medium mb-2" for="email">
          Email
        </label>
        <input
          class="w-full border border-stone-400 p-2 rounded-lg"
          type="email"
          id="login-email"
          name="login-email"
          required
        />
      </div>
      <div class="mb-4">
        <label class="block text-stone-700 font-medium mb-2" for="password">
          Password
        </label>
        <input
          class="w-full border border-stone-400 p-2 rounded-lg"
          type="password"
          id="login-password"
          name="login-password"
          required
        />
      </div>
      <div class="text-center">
        <button id="submit"class="bg-stone-700 text-white p-2 rounded-lg hover:bg-stone-800">
          LOGIN
        </button>

        <script src="/js/login.js"></script>
      </div>
      </div>

